{% extends "base.html" %}
{% load static %}
{% static 'img' as baseUrl %}

    {% block content %}
    <div class="container">

        <div class="feedback">
            {% if exit %}
            {% for choosen_apart_ in choosen_apart %}
                <h1>You have left {{ choosen_apart_.appartment }} </h1>
            {% endfor %}
            {% endif %}
        </div>

        <section class="section border-top">
            <!-- <hr> -->
            <!-- <h1>I am Currently in the Following Appartments</h1> -->
            <div class="container_">
                <!-- hi -->
            </div>
        </section>
        <section class="section border-top">
            <div class="container_2">
                <!-- hi -->
            </div>
        </section>
    
        <section class="section border-top">
            <hr>
            <h1>Appartments I have Booked so far</h1>
            <div class="container_3">
                <!-- hi -->
            </div>
        </section>
    </div>

    
    <input type="hidden" name="" id="the_room_code" value="{{ the_room_code | safe }}">
    <input type="hidden" name="" id="the_room_name" value="{{ the_room_name | safe }}">
    <input type="hidden" name="" id="the_room_image" value="{{ the_room_image | safe }}">
    <input type="hidden" name="" id="the_room_status" value="{{ the_room_status | safe }}">
    <input type="hidden" name="" id="the_room_description" value="{{ the_room_description | safe }}">

    <input type="hidden" name="" id="appart_client" value="{{ appart_client | safe }}">
    <input type="hidden" name="" id="appart_date_chk_in" value="{{ appart_date_chk_in | safe }}">
    <input type="hidden" name="" id="appart_date_chk_out" value="{{ appart_date_chk_out | safe }}">
    <input type="hidden" name="" id="appart_adult" value="{{ appart_adult | safe }}">
    <input type="hidden" name="" id="appart_children" value="{{ appart_children | safe }}">
    <input type="hidden" name="" id="appart_comment" value="{{ appart_comment | safe }}">
    <input type="hidden" name="" id="appart_id" value="{{ appart_id | safe }}">
    
    
    {{ my_reservation | json_script:"my_reservation" }}
    <!-- {{ the_room_code | safe }}
    {{ the_room_name | safe }}
    {{ the_room_image }}
    {{ the_room_description }} -->

    {% endblock content %}
    
    {% block javascripts %}
    
    <script>
        const container = document.querySelector(".container_");
        const container_2 = document.querySelector(".container_2");
        const container_3 = document.querySelector(".container_3");

        console.log(container)
        const baseURL = "http://127.0.0.1:8000/";
        const reservation = JSON.parse(document.getElementById('my_reservation').textContent)
        const the_reservation = reservation[0].fields
        const the_room_name = document.getElementById("the_room_name").value
        const the_room_code = document.getElementById("the_room_code").value;
        const the_room_image = document.getElementById("the_room_image").value;
        const the_room_status = document.getElementById("the_room_status").value;

        const appart_id = document.getElementById("appart_id").value
        const appart_client = document.getElementById("appart_client").value
        const appart_date_chk_in = document.getElementById("appart_date_chk_in").value;
        const appart_date_chk_out = document.getElementById("appart_date_chk_out").value
        const appart_adult = document.getElementById("appart_adult").value;
        const appart_children = document.getElementById("appart_children").value;
        const appart_comment = document.getElementById("appart_comment").value;

        // console.log(appart_client)
        // console.log(appart_date_chk_in)
        // console.log(appart_date_chk_out)
        // console.log(appart_adult)
        // console.log(appart_children)
        // console.log(appart_comment)

        console.log("the status: ", the_room_status)
        
        const the_room_description = document.getElementById("the_room_description").value;
        
        console.log(the_room_name)
        console.log(the_room_code)
        console.log(the_room_image)
        console.log(the_room_description)
        // const container = document.querySelector("container")

        const apartment = the_reservation.appartment
        console.log("appart: ", apartment)
        console.log(reservation)
        console.log(reservation[reservation.length - 1].fields)
        // console.log(the_reservation.name)
        console.log(reservation[reservation.length - 1].pk)
        // console.log(testing_it_up)
        // <span class="d-block"><span class="display-4 text-primary">C ${ room.fields.price }</span> / per night </span>

        // container.textContent = "hi"

        apparts_booked_sofar = () => {
            container_3.innerHTML = `
                ${
                    reservation.map((book, index) => {
                    console.log("inside the map....")
                    console.log(book);

                    return `
                        <div class="site-block-half d-flex bg-white" data-aos="fade-up" data-aos-delay="100">
                            <div class="text">
                                <h1>${ book.fields.client_name }</h1>
                                <h2>Check In Date: ${ book.fields.date_Check_In }</h2>
                                <h2>Check Out Date: ${ book.fields.date_Check_Out }</h2>
                                <h2>Number of Adults: ${ book.fields.adult }</h2>
                                <h2>Number of Children: ${ book.fields.children }</h2>
                            </div>

                            <a class="image d-block bg-image" style="background-image: url(http://127.0.0.1:8000/media/${ book.fields.rooms_image });"></a>

                            <div class="text">
                                <h2>Apartment Name: ${ the_room_name }</h2>
                                <h2>Apartment Code: ${ the_room_code }</h2>
                                <p class="lead">${ the_room_description }</p>
                                <div class="row justify-content-center text-center mt-5" data-aos="fade-up" data-aos-delay="300">
                                    <div class="col-md-4"><p><a href="{% url 'allRooms' %}" class="btn btn-success text-white py-3 px-5">Check Availability</a></p></div>
                                </div>
                            </div>
                        </div>`
                  })
                }
            `
        }

        apparts_booked_sofar ();

        
        // this one used template variable from django infused as values
        // into dom elements and fetched back by javacript
        myData_ = () => {
            container_2.innerHTML = `
            ${ the_room_status === "False" ? 
                `<hr/>
                <h1 class="justify-content-center">I am Currently in the Following Appartments</h1>
                <div class="site-block-half d-flex bg-white" data-aos="fade-up" data-aos-delay="100">
                    <div class="text">
                        <h1>${ appart_client }</h1>
                        <h2>Check In Date: ${ appart_date_chk_in }</h2>
                        <h2>Check Out Date: ${ appart_date_chk_out }</h2>
                        <h2>Number of Adults: ${ appart_adult }</h2>
                        <h2>Number of Children: ${ appart_children }</h2>
                    </div>

                    <a class="image d-block bg-image" style="background-image: url(http://127.0.0.1:8000/media/${the_room_image});"></a>

                    <div class="text">
                        <h2>Apartment Name: ${ the_room_name }</h2>
                        <h2>Apartment Code: ${ the_room_code }</h2>
                        <p class="lead">${ the_room_description }</p>
                        <p><a href="${baseURL}reservations/exit_apartment/?q=${ appart_id }" class="btn btn-success text-white" id="${ appart_id }">Exit</a></p>
                    </div>
                </div>` : 
                `
                <div class="row justify-content-center bg-white" data-aos="fade-up" data-aos-delay="100">
                    <h1>You have not booked any apartment</>
                    <div class="row justify-content-center text-center mt-5" data-aos="fade-up" data-aos-delay="300">
                        <div class="col-md-4"><p><a href="{% url 'allRooms' %}" class="btn btn-success text-white py-3 px-5">View All Rooms</a></p></div>
                    </div>
                </div>
                `
            }
            `;

            console.log(container)
        }

        // myData ();

        myData_ ();


        // This one uses an array that comes from django
        // This is not being used because the position of 
        // Elements in an array are subject to varie as long
        // as new elements get added to the array. 
        // myData = () => {
        //     container.innerHTML = `
        //     ${ the_room_status === "False" ? 
        //         `<div class="site-block-half d-flex bg-white" data-aos="fade-up" data-aos-delay="100">
        //             <div class="text">
        //                 <h1>${ reservation[reservation.length - 1].fields.client_name }</h1>
        //                 <h2>Check In Date: ${ reservation[reservation.length - 1].fields.date_Check_In }</h2>
        //                 <h2>Check Out Date: ${ reservation[reservation.length - 1].fields.date_Check_Out }</h2>
        //                 <h2>Number of Adults: ${ reservation[reservation.length - 1].fields.adult }</h2>
        //                 <h2>Number of Children: ${ reservation[reservation.length - 1].fields.children }</h2>
        //             </div>

        //             <a class="image d-block bg-image" style="background-image: url(http://127.0.0.1:8000/media/${the_room_image});"></a>

        //             <div class="text">
        //                 <h2>Apartment Name: ${ the_room_name }</h2>
        //                 <h2>Apartment Code: ${ the_room_code }</h2>
        //                 <p class="lead">${ the_room_description }</p>
        //                 <p><a href="${baseURL}reservations/exit_apartment/?q=${ reservation[reservation.length - 1].pk }" class="btn btn-success text-white" id="${ reservation[reservation.length - 1].pk }">Exit</a></p>
        //             </div>
        //         </div>` : 
        //         `
        //         <div class="row justify-content-center bg-white" data-aos="fade-up" data-aos-delay="100">
        //             <h1>You have not booked any apartment</>
        //             <div class="row justify-content-center text-center mt-5" data-aos="fade-up" data-aos-delay="300">
        //                 <div class="col-md-4"><p><a href="{% url 'allRooms' %}" class="btn btn-success text-white py-3 px-5">View All Rooms</a></p></div>
        //             </div>
        //         </div>
        //         `
        //     }
        //     `;

        //     console.log(container)
        // }


  
      </script>

    {% endblock javascripts %}